header {
    background: linear-gradient(to right, #5E91FA, #d98fe9);
    color: #fff;
}


a.nav-link {
    color: #f1f1f1;
}

a.nav-link:hover {
    color: #f6c7de;
    transition: color 0.3s, text-shadow 0.3s;
    transform: scale(1.05);
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler .fas {
    color: #fff; /* Cambia el color del ícono */
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler:hover {
    cursor: pointer;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none; /* También elimina cualquier sombra adicional */
}

footer {
    background: linear-gradient(to right, #d98fe9, #5E91FA);
    color: #fff;
    bottom: 0;
    min-height: 4rem;
    /* Incrementar la altura mínima */
    display: flex;
    justify-content: center;
    align-items: center;
}